{% extends "base-navi.html" %} 

{% block mainContentArea %}
<div class="ui container grid" id="MainFrame">
  <div class="sixteen wide column" >
{% block mainFrame %}{% endblock %}
  </div>
<!--  <div class="two wide column">
    <div class="ui vertical menu sideMenu ">
      {% block sideFrame %}{% endblock %}
    </div>
  </div>
  -->
  <div class="sixteen wide column">
			<div class="ui divider"></div>
			<p id="copyright">Gensokyo 採用 GPL v3 授權 | 0mu-Project 版權所有 </p>
	</div>
</div>


{% endblock %}
