<div class="ui large dset modal">
	<div class="ui four tiny steps">
		<div class="step">
			<i class="cube icon"></i>
			<div class="content">
				<div class="title">容器映像</div>
				<div class="description">選擇&取得鏡像或製作鏡像</div>
			</div>
		</div>
		<div class="active step">
			<i class="info icon"></i>
			<div class="content">
				<div class="title">容器設定</div>
				<div class="description">設定容器基礎資訊</div>
			</div>
		</div>
		<div class="step">
			<i class="settings icon"></i>
			<div class="content">
				<div class="title">進階設定</div>
				<div class="description">設定容器進階資訊</div>
			</div>
  		</div>
		<div class="step">
			<i class="power icon"></i>
			<div class="content">
				<div class="title">確認容器</div>
				<div class="description">確認設定並且啟動容器</div>
			</div>
		</div>
	</div>
	<div class="content"style="padding-top:5px;">
		<div class="ui very relaxed stackable grid">
			<div class="five wide middle aligned column" style="  height: 100%; padding-right:0px;">
					<div style = "text-align:center;">
						<i class="center aligned massive cube icon"></i><h1>Hakurei Docker</h1>
					</div>
					<div class = "ui horizontal divider" style="padding-left:5%; padding-right:5%;">Easy-Setup</div>
					<br />
					<div style="text-align:center">
						<h3 id = "cimages" style="margin:7px;">映像Repo：尚未選擇</h3>
						<h3 id = "cdfile" style="margin:7px;">DockerFile：未選擇</h3>
					</div>
			</div>
			<div class="middle aligned one wide column" style="padding-left:14px; padding-right:14px; height:430px;">
				<div class="ui vertical divider">info</div> 
			</div>
			<div class="ten wide column" style="padding-left:0px;  height:430px;">
				<div style="width:49%; height:100%; float:left;">
				<p>容器名稱 
				<div class="ui fluid input">
					  <input placeholder="ContainerName" type="text">
				</div>
				</p>
				</br>
				</div>
				<div style="width:49%; height:100%; float:right;">
				<p>容器指令 
				<div class="ui fluid input">
					  <input placeholder="有設定EXEC 請勿填寫" type="text">
				</div>
				</p>
				</div>
			</div>

		</div>
	</div>
</div>
