{% extends "2row-base.html" %} 

{% block naviDockerClass %}active{% endblock %}

{% block header %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}

{% block title %}Yakumo - Gensokyo Server Platform{% endblock %}

{% block sideFrame %}
		<a class="active item">容器管理</a>
		<a class="item">容器模板</a>
{% endblock %}

{% block mainFrame %}
  <div class="ui grey segment">
	<div class="ui breadcrumb">
		  <div class="section">Hakurei</div>
		    <div class="divider"> / </div>
		  <div class="section">容器</div>
		    <div class="divider"> / </div>
			<div class="active section">容器管理</div>
	</div>
	<div class="ui divider"></div>
		  <div class="sixteen wide  aligned column">
	  	  <a class="ui left black ribbon label">
		  容器部屬
	  	  </a>
		  <div class="ui middle aligned very relaxed stackable grid" style="padding: 12px 0px 0px 0px">
			  <div class="four wide column" style="padding-right:14px;">
				  <div class="center aligned column">
					  <div class="ui buttons">
						    <button class="ui quick small blue button">HQS 部屬</button>
							  <div class="or" data-text="/"></div>
						    <button class="ui dimage small green button">類VMs部屬</button>
					  </div>
				  </div>
				  {% include "images.html" %}
				  {% include "containers.html" %}
				  {% include "quickt1.html" %}

			  </div>
			  <div class="one wide column" style="padding-right:14px;">
				 OR 
			  </div>
			  <div class="eleven wide column" style="">
				  <div class="ui icon fluid small input">
					    <input placeholder="直接輸入 docker 指令 (ex: docker run --name example ex:example)" type="text">
						  <i class="circular terminal link icon"></i>
				  </div>
			  </div>
			  <div class="sixteen wide column" style="">
			  <div class="ui message">
				  <div class = "header">
					  關於容器部屬
				  </div>
				  <ul class="list">
					  <li>HQS 部屬 : 透過 Hakurei QuickService 直接將專案部屬為容器並提供 App-Dashboard 管理. </li>
					  <li>類VMs部屬 : 將容器部屬為類虛擬機器架構提供 SSH 界面 可提供較為進階的服務使用 就如同使用一臺 VPS. </li>
					  <li>當然如果您知道你在做什麼您也可以直接透過 docker run 指令去命令後端幫你完成部屬</li>
				  </ul>
			  </div>
			  </div>
		  </div>
		  </div>
		  <div class ="ui divider"></div>
	  	  <a class="ui left black ribbon label">
		  容器一覽
	  	  </a>
		  <table class="ui compact celled definition table">
			  <thead>
				      <tr>
						  <th></th>
						  <th>執行</th>
						  <th>ID</th>
						  <th>容器名稱</th>
						  <th>容器映像</th>
						  <th>Ports (C:H)</th>
						  <th>執行指令</th>
						  <th>運作狀況</th>
					  </tr>
			  </thead>
			  <tbody>
				{% for x in c %}
				{% if x.get('Status')[0:4] == "Exit"%}
				  <tr class="error">
				{% elif x.get('Status')[0:4] == "Crea"%}
				  <tr class="warning">
				{% else %}
				  <tr class="positive">
  			    {% endif %}
					  <td class="collapsing">
						  <div class="ui fitted checkbox">
							  <input type="checkbox"> <label></label>
						  </div>
					  </td>
					  <td class="collapsing">
						  <div class="ui fitted slider checkbox">
				{% if x.get('Status')[0:4] == "Exit"%}
				<input id="{{x.get('Names')[0].replace('/','')}}" type="checkbox"><label></label>
				{% elif x.get('Status')[0:4] == "Crea"%}
				<input id="{{x.get('Names')[0].replace('/','')}}" type="checkbox"><label></label>
				{% else %}
				<input id="{{x.get('Names')[0].replace('/','')}}" type="checkbox" checked="True"> <label></label>
  			    {% endif %}
						  </div>
					  </td>
					  <td>{{x.get('Id')[0:12]}}</td>
					  <td>{{x.get('Names')[0].replace('/','')}}</td>
					  <td>{{x.get('Image')}}</td>
					  <td>
						  {% if x.get('Ports')== [] %}
						  None
						  {% else %}
					      {% for w in x.get('Ports')%}
						  {{w.get('PrivatePort')}} :
						  {{w.get('PublicPort')}}
						  <br />
						  {% endfor %}
						  {% endif %}
					  </td>
					  <td>{{x.get('Command')}}</td>
					  <td>{{x.get('Status')}}</td>
				  </tr>
				  {% endfor %}
				 </tbody>
				 <tfoot class="full-width">
				  <tr >
							      <th colspan="9" style="padding:5px;">
									<div class="ui right floated tiny green labeled icon button">
										          <i class="save icon"></i> 備份
									</div>
									<div class="ui right floated tiny orange labeled icon button">
										          <i class="add icon"></i> 鏡像化
									</div>
									<div class="ui right floated tiny red icon button">
										          <i class="remove icon"></i>
									</div>
									</th>
									</tr>
									</tfoot>
			  </table>
</div>
<script>

$(document).ready(function(){
$('.ui.rimages.dropdown')
	.dropdown({
		action: 'select',
		onChange : function(text, value, $selectedItem){
		document.getElementById('image').innerHTML = "映像Repo：" + text;
		document.getElementById('cimages').innerHTML = "映像Repo：" + text;
		document.getElementById('dfile').innerHTML = "DockerFile：不採用" ;
		document.getElementById('cdfile').innerHTML = "DockerFile：不採用" ;
		}
	})
;
$('.ui.hqsp.dropdown')
	.dropdown()
;
$('.coupled.modal')
	  .modal({
		      allowMultiple: false
				    })
;
$('.qchoose.modal')
	.modal({
		blurring: true
	})
	.modal('attach events', '.quick.button', 'show')
;
$('.dimage.modal')
	.modal({
		blurring: true
	})
	.modal('attach events', '.dimage.button', 'show')
;
	$('.dset.modal')
		  .modal('attach events', '.dimage.modal .next.button')
		  ;
{% for x in c %}
$('#{{x.get('Names')[0].replace('/','')}}').click(function() {
	if($('#{{x.get('Names')[0].replace('/','')}}').prop("checked")) {
		  $.get( "/docker/start/{{ x.get('Names')[0].replace('/','') }}", function( data ) {
			  location.reload(true);
		  })
	} else {
		  $.get( "/docker/stop/{{ x.get('Names')[0].replace('/','') }}", function( data ) {
			  location.reload(true);
		  })
	}
})
{% endfor %}
})
$('.dpull.link.icon').click(function(){
var data = $('#dpull').val();
$.post("/docker/pull/" + data);
var socket = io.connect('http://' + document.domain + ':' + location.port + '/pull/info');
$("#uim").removeClass("hidden");
socket.on('pull', function(msg){
document.getElementById('pull').innerHTML = msg.info;
})
});
</script>
{% endblock %}
