<div class="ui large dimage modal">
	<div class="ui four tiny steps">
		<div class="active step">
			<i class="cube icon"></i>
			<div class="content">
				<div class="title">容器映像</div>
				<div class="description">選擇&取得鏡像或製作鏡像</div>
			</div>
		</div>
		<div class="step">
			<i class="info icon"></i>
			<div class="content">
				<div class="title">容器設定</div>
				<div class="description">設定容器基礎資訊</div>
			</div>
		</div>
		<div class="step">
			<i class="settings icon"></i>
			<div class="content">
				<div class="title">進階設定</div>
				<div class="description">設定容器進階資訊</div>
			</div>
  		</div>
		<div class="step">
			<i class="power icon"></i>
			<div class="content">
				<div class="title">確認容器</div>
				<div class="description">確認設定並且啟動容器</div>
			</div>
		</div>
	</div>
	<div class="content"style="padding-top:5px;">
		<div class="ui very relaxed stackable grid">
			<div class="five wide column" style="padding-right:0px; height:450px;">
				<div class="ui floating labeled icon dropdown blue fluid large button" style="text-align:center;">
					<i class="disk outline icon"></i>
					<span class="text">選擇存在的映像</span>
					<div class="menu">
						<div class="ui icon search input">
							<i class="search icon"></i>
							<input placeholder="Search tags..." type="text">
						</div>
						<div class="divider"></div>
						<div class="header">
							<i class="disk outline icon"></i>
							可用映像檔
						</div>
						<div class="scrolling menu">
							{% for im in images %}
							<div class="item">
								<i class="cubes icon"></i>
								{{im.get('RepoTags')[0]}} 
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="ui horizontal divider">or</div>
				<div class="ui fluid labeled icon green large button">
					<i class="upload icon"></i>
					<span class="text">使用DockerFile</span>
				</div>
				<div class="ui message">
					<div class="header">說明</div>
					<p>"選擇存在的映像"- 從伺服器選擇映像檔案.</p>
					<p>"使用DockerFile" - 打包 DockerFile 以及相關設定檔為DockerFile.tar/zip並上傳.</p>
					<p>"Docker Hub"- 透過 Docker Hub 抓取鏡像</p>
				</div>
				<br />
				<div class="ui horizontal divider">Docker Hub</div>
				<div class="ui icon fluid large input">
					<input placeholder="請輸入你要pull的鏡像 ..." type="text">
					<i class="circular terminal link icon"></i>
				</div>
			</div>
			<div class="middle aligned one wide column" style="padding-left:14px; padding-right:14px; height:430px;">
				<div class="ui vertical divider">info</div> 
			</div>
			<div class="ten wide column" style="padding-left:0px; height:450px;">
				<div class ="middle aligned" style="height:370px;">
					<div style = "text-align:center;">
						<i class="center aligned massive cube icon"></i><h1>Hakurei Docker Image</h1>
					</div>
					<br />
					<div class = "ui horizontal divider" style="padding-left:5%; padding-right:5%;">檢視</div>
					<br />
					<div style="text-align:center">
						<h3 id = "image" style="margin:5px;">映像Repo：尚未選擇</h3>
						<h3 id = "dfile" style="margin:5px;">DockerFile：未選擇</h3>
					</div>
				</div>
				<div style="height:50px; weight:100%; text-align:right;">
					<button class="ui right labeled icon next button">
						<i class="right arrow icon"></i>
						Next
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
