{% extends "2row-base.html" %} 

{% block naviIndexClass %}active{% endblock %}

{% block header %}
<style>
    .circle-chart { margin:0px auto; width: 100px; position: relative; text-align:center; }
	.circle-chart__text { font-size:20px; position: absolute; width: 100%; height: 100%; text-align: center; left: 0; top: 10px; line-height: 4; font-family: sans-serif; }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="/static/js-circle-chart/js/circle-chart.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}

{% block title %}Yakumo - Gensokyo Server Platform{% endblock %}

{% block sideFrame %}
  <div class="item">
	<div class="header">狀態總覽</div>
	<div class="ui divider"></div>
	<div class="menu">
		<a class="active item">效能監控</a>
		<a class="item">流量監控</a>
	</div>
  </div>
{% endblock %}

{% block mainFrame %}
<div class="ui segments">
	  <div class="ui segment" style="padding:8px 14px 8px 14px;">
	<div class="ui breadcrumb">
		  <div class="section">Yakumo</div>
		    <div class="divider"> / </div>
		  <div class="section">狀態總覽</div>
		    <div class="divider"> / </div>
		  <div class="active section">效能監控</div>
	</div>
	</div>
  <div class="ui grey segment" style="height:100%;">
	  	  <a class="ui left black ribbon label">
		  硬體效能監測
	  	  </a>
		  <div class="ui grid" style="padding:2.5%;">
		  <div class="three wide center aligned column">
				  <div id="circle-chart" class="circle-chart  center aligned " >
					  <a>Loading</a>
				  </div>
			  <br />
			  <p>處理器( {{core.decode('utf-8')}}C )
			  </br>
			  2.6Ghz</p>
		  </div>

		  <div class="three wide center aligned column">
				  <div id="mem-chart" class="circle-chart  center aligned " >
					  <a>Loading</a>
				  </div>
			  <br />
			  <p>記憶體
			  <br />
			  12G</p>
		  </div>
		  <div class="three wide center aligned column">
				  <div id="net-chart" class="circle-chart" style="margin:10px;">
					  <a>Loading</a>
				  </div>
			  <br />
			  <p id="nets"></p>
		  </div>
		  <div class="one wide column">
		    <div class="ui vertical divider">
				   Info 
		   	</div>
		  </div>
		  <div class="six wide column">
			  <div id="system"></div>
		  </div>

	 </div>
	<div class="ui divider"></div>
	<a class="ui left black ribbon label">
		  系統程式監測
	</a>
	</div>
</div>
<script>
var el = document.querySelector('#circle-chart');
var nl = document.querySelector('#net-chart');
var em = document.querySelector('#mem-chart');
var socket = io.connect('http://' + document.domain + ':' + location.port + '/info');
$(document).ready(function(){
		document.getElementById('net-chart').innerHTML = "Ethernet";
		new CircleChart(em,{animationSpeed: 0,stroke:   3, colour:   '#000',edgeWidth:1,edgeColour:     '#eee' });
		new CircleChart(nl,{animationSpeed: 0,stroke:   3, colour:   '#000',edgeWidth:1,edgeColour:     '#eee' });
		new CircleChart(el,{animationSpeed: 0,stroke:   3, colour:   '#000',edgeWidth:1,edgeColour:     '#eee' });
		socket.on('info', function(msg){
		document.getElementById('mem-chart').innerHTML = msg.mem + "%";
		new CircleChart(em,{animationSpeed: 0,stroke:   3, colour:   '#000',edgeWidth:1,edgeColour:     '#eee' });
		document.getElementById('circle-chart').innerHTML = msg.cpuusage + "%";
		new CircleChart(el,{animationSpeed: 0,stroke:   3, colour:   '#000',edgeWidth:1,edgeColour:     '#eee' });
		document.getElementById('nets').innerHTML = "S: "+ msg.ns + "<br />R: "+ msg.nr;
	})
<!--
/*
	$.get("/info/mem/",function(mem){ 
		document.getElementById('mem-chart').innerHTML = mem + "%";
		new CircleChart(em,{animationSpeed: 0,stroke:   3, colour:   '#000',edgeWidth:1,edgeColour:     '#eee' });
}) 

	 $.get("/info/cpuusage/",function(cpuusage){ 
		document.getElementById('circle-chart').innerHTML = cpuusage + "%";
		new CircleChart(el,{animationSpeed: 0,stroke:   3, colour:   '#000',edgeWidth:1,edgeColour:     '#eee' });
	 })
*/
-->	 
	 $.get("/info/sys/",function(result){ 
	  document.getElementById('system').innerHTML = result;
	 })


}); 
$(function(){
	setInterval('getsysinfo()',3000);
});
function getsysinfo(){
	 $.get("/info/sys/",function(result){ 
	  document.getElementById('system').innerHTML = result;
	 })
}
  </script>
{% endblock %}
