#navibar , #footer {
	border-radius: 0em;
	margin: 0em;
}

#navibar {
	height: 3em;
}

#footer {
	/* position: absolute;
	top: calc( 100% - 1.6em ); */
	height: 1.6em;

}

#MainFrame {
	padding-left : 1em;
	margin: 0em 0em 0em 0em;
}

#MainSideBar {
	padding-top: 1.5em;
	height: 100%;
}

.sideMenu {
	width: 100% !important;
}

#mainArea {
	padding-top: 2em;
}

.position {
	position: absolute;
	background-color: red;
	z-index: 20;
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

.newZonePos{
	width: 100% !important;
}

#newZoneBTN{
	width: 100%;
}

.zone{
	position: absolute;
	background-color: rgba(255,255,0,0.5);
	z-index: 20;
}
.zoneText {
	background: rgba(255,255,255,0.8);
	display: table;
}

/**   美化UI   **/
body {
	background-color: #f0f0f0;
}
